SFDC(CRM) To DB(Oracle-E-Business_Suit) connector/src/main/app/product_from_ebs_to_sfdc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
	xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
    <flow name="product_from_ebs_to_sfdcFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/product_move" doc:name="HTTP"/>
        <db:select config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select segment1,description,creation_date from mtl_system_items_b where segment1='V1-Nuts']]></db:parameterized-query>
        </db:select>
        <logger message="Before Tm" level="DEBUG" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	Name: payload01.SEGMENT1,
	Description: payload01.DESCRIPTION
})]]></dw:set-payload>
        </dw:transform-message>
        <logger message="after Tm" level="DEBUG" doc:name="Logger"/>
        <sfdc:upsert config-ref="Salesforce__Basic_Authentication" externalIdFieldName="id" type="Product2" doc:name="Salesforce">
            <sfdc:objects ref="#[payload]"/>
        </sfdc:upsert>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="Entered into Default Exception" level="INFO" doc:name="StartLog"/>
            <set-payload value="{ &quot;errorMessage&quot; : &quot;#[exception.message]&quot;, &quot;exception&quot;:&quot;#[exception.getDetailedMessage()]&quot; }" doc:name="catchException"/>
            <set-property propertyName="http.status" value="400" doc:name="http.status"/>
            <logger message="end of DefaultException" level="INFO" doc:name="endLog"/>
        </catch-exception-strategy>
    </flow>
</mule>
